/* Fonts */
@font-face {
	font-family: 'Burger_Quiz';
	src: url('../res/horseshoes.ttf');
}
@font-face {
	font-family: 'Burger_Quiz_Inverted';
	src: url('../res/horseshoeslemonade.ttf');
}
.inv {
	font-family: 'Burger_Quiz_Inverted';
}

/*responsive*/
/*
@-ms-viewport{
  width: device-width;
}*/
:focus{
  outline:none;
}

/* Animations */
@keyframes enter {
	0%   {transform:translateY(-100vh);}
	100% {transform:translateY(0vh);}
}
.enter{
	animation-name:enter;
	animation-duration:0.2s;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/* Colors */
.blue { 	color: 			  #3C3DAB;}
.bgblue { 	background-color: #3C3DAB;}
.yellow {	color: 			  #DAAE0F;}
.bgyellow {	background-color: #DAAE0F;}
.red {		color: 			  #CA2F1E;}
.bgred {	background-color: #CA2F1E;}
.green {	color: 			  #50CB1E;}
.bggreen {	background-color: #50CB1E;}
.orange {	color: 			  orange;}

/* Default style */
body {
	background-color: black;
}
a {
	color: white;
	font-family:'Burger_Quiz';
	text-decoration: none;
}
th, td, label, button, p, h1, h2, h3, h4, h5 {
	color: white;
	font-family:'Burger_Quiz';
	margin: 0;
	font-size: 9vh;
	background: none;
	text-align: center;
	border: none;
}
input {
	color: white;
	background-color: black;
	font-size: 9vh;
}
label {
	margin-right: 10vh;
}
.scoreboard {
	margin: auto;
}
.scoreboard td, .scoreboard th{
	width: 18vw;
	border: 2px solid white;
}
.scoreboard tr:first-child th:first-child {
    border-top-left-radius: 60px;
}
.scoreboard tr:first-child th:last-child {
    border-top-right-radius: 60px;
}
.button{
	font-family:'Burger_Quiz';
	display: inline-block;
	font-size: 8vh;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	margin: 5vh;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.small-button{
	display: inline-block;
	font-size: 5vh;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	margin: 1vh;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.ctl-button{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 30px;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.ctl-div{
	position:absolute;
	top:0;
	right:0;
	margin:8px
}
.title{
	text-align: center;
	font-size: 20vh;
}
.small-title{
	text-align: center;
	font-size: 15vh;
}
.tiny-title{
	text-align: center;
	font-size: 6vh;
}
.inline-title{
	font-size: 20vh;
	display: inline-block;
	vertical-align: top;
}
.small{
	font-size: 7vh;
}
.inline{
	display: inline;
	max-width: 20vw;
}

/* Logo style */
#logo-big {
	height: 70vh;
	display: block;
	margin: auto;
}
#logo-small {
	height: 15vw;
	position: absolute;
}
#logo-small-inline {
	height: 15vw;
	display: inline-block;
}
#burger {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0vh;
	z-index:-1;
}

/* Forms style */
#code {
	margin-left: 20vh;
	padding-left: 2vh;
	width: 24vh;
}
#selector { /*categorie radio button container*/
	text-align: left;
	display: inline-block;
	padding: 10px;
	border-radius: 30px;
	border: 3px solid white;
	vertical-align:top;
	margin-right: 2vw;
}
.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:2vh solid #ccc;
  background:#fff;
  width:6vh;
  height:6vh;
  border-radius:50%;
  vertical-align: text-bottom;
  margin-right: 5px;
}
.radio:checked{
  border:2vh solid #50CB1E;
}

/* Filter style */
#minInput, #maxInput{
	width: 15vh;
	font-size: 6vh;
}
#pseudoInput, #themeInput{
	width: 40vh;
	font-size: 6vh;
}
select {
	color: white;
	background-color: black;
	font-size: 6vh;
	font-family:'Burger_Quiz';
	margin-right: 10px;
}

/* Modal style */
#modal{
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#modal-content{
	margin: auto;
	margin-top: 5vh;
	position: relative;
	padding: 0;
	width: 60vw;
	background-color: black;
	border: 3px solid white;
	text-align:right;
}

/* Game style */
#intro-game {
	height:96vh;
	margin:auto;
	display:none;
}
#countdown {
	text-align:center;
	font-size:30vh;
	display:none;
}
#progress{
	position:fixed;
	left:0;
	top;0;
}
#timer{
	position:fixed;
	right:0;
	top;0;
}