/* Fonts */
@font-face {
	font-family: 'Burger_Quiz';
	src: url('../res/horseshoes.ttf');
}
@font-face {
	font-family: 'Burger_Quiz_Inverted';
	src: url('../res/horseshoeslemonade.ttf');
}
.inv {
	font-family: 'Burger_Quiz_Inverted';
}

/*responsive*/
/*
@-ms-viewport{
  width: device-width;
}*/

/* Animations */
@keyframes enter {
	0%   {transform:translateY(-100vh);}
	100% {transform:translateY(0vh);}
}
.enter{
	animation-name:enter;
	animation-duration:0.2s;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/* Colors */
.blue { 	color: 			  #3C3DAB;}
.bgblue { 	background-color: #3C3DAB;}
.yellow {	color: 			  #DAAE0F;}
.bgyellow {	background-color: #DAAE0F;}
.red {		color: 			  #CA2F1E;}
.bgred {	background-color: #CA2F1E;}
.green {	color: 			  #50CB1E;}
.bggreen {	background-color: #50CB1E;}

/* Default style */
body {
	background-color: black;
}
a {
	text-decoration: none;
}
a, label, p, h1, h2, h3, h4, h5 {
	color: white;
	font-family:'Burger_Quiz';
	margin: 0;
}
label, input {
	color: white;
	background-color: black;
	font-size: 9vh;
}
label{
	margin-right: 10vh;
}
.button{
	display: inline-block;
	font-size: 8vh;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	margin: 5vh;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.small-button{
	display: inline-block;
	font-size: 5vh;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	margin: 1vh;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.ctl-button{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 30px;
    text-decoration: none;
	border-width: 0;
	cursor: pointer;
}
.ctl-div{
	position:absolute;
	top:0;
	right:0;
	margin:8px
}
.title{
	text-align: center;
	font-size: 20vh;
}
.small-title{
	text-align: center;
	font-size: 15vh;
}
.inline-title{
	font-size: 20vh;
	display: inline-block;
	vertical-align: top;
}

/* Logo style */
#logo-big {
	height: 70vh;
	display: block;
	margin: auto;
}
#logo-small {
	height: 15vw;
	position: absolute;
}
#logo-small-inline {
	height: 15vw;
	display: inline-block;
}

/* Forms style */
#code {
	margin-left: 20vh;
	padding-left: 2vh;
	width: 24vh;
}

/* Game style */
#intro {
	height:96vh;
	margin:auto;
	display:none;
}
#countdown {
	text-align:center;
	font-size:30vh;
	color:red;
	display:none;
}